In [7]:
print('Hacktiv8')

Hacktiv8

## Integer
Integer adalah type data di Phyton yang berupa angka.

In [8]:
print(123123)

123123

In [9]:
print(10)

10

In [10]:
type(10)

int

## Floating-Point
Floating-point adalah tipe data di Python yang berupa desimal.

In [11]:
4.2

4.2

In [12]:
type(4.2)

float

In [13]:
.2

0.2

In [14]:
4.

4.0

In [15]:
.4e7

4000000.0

In [17]:
4.2e-4

0.00042

## Strings
Strings adalah tipe data di Pyhton yang berupa sequence of character data

In [29]:
print('Ini adalah tipe data string')

Ini adalah tipe data string

In [32]:
print("This string contains a single quote ('') character")

This string contains a single quote ('') character

In [23]:
print('This string contains a double quote ("") character.')

This string contains a double quote ("") character.

## Boolean 
Boolean adalah tipe data Phyton yang berupa True or False

In [24]:
True

True

In [25]:
False

False

In [26]:
type(True)

bool

In [27]:
type(False)

bool

In [28]:
type('True')

str

In [31]:
type('l')

str

## Variables
### Variables Assignment

In [33]:
n = 300

In [34]:
n

300

In [35]:
print(n)

300

In [37]:
n = k = 300
print(n,k)

300 300

### Variables Names

In [39]:
name = 'Raka'
Age = 26
has_laptops = True
print(name, Age, has_laptops)

Raka 26 True

In [43]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [48]:
print('Camel case: kata kedua besar')
print('Pascal case: semua kata besar')
print('Snake case: dipisahkan_')

Camel case: kata kedua besar
Pascal case: semua kata besar
Snake case: dipisahkan_

## Arithmatic Operators

In [49]:
a = 120
b = 100

In [51]:
a + b

220

In [52]:
a + b - 50

170

In [55]:
a = 4
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [56]:
10 / 5

2.0

## Comparison Operators

In [58]:
a = 10
b = 20

print(a==b) #sama dengan
print(a!=b) #tidak sama dengan
print(a<=b)
print(a>=b)

False
True
True
False

## String Manipulation

In [60]:
# + Operators 

s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)

foobar

In [61]:
s + t + u

'foobarbaz'

In [62]:
print('Hacktiv8' + 'Inalum')

Hacktiv8Inalum

In [63]:
# * Operators

s * 4

'foofoofoofoo'

In [64]:
# in Operators

s = 'foo'

s in "That food for us"

True

In [65]:
s in 'That good for us'

False

In [72]:
# Case Coversion 

s = 'HacKTIvate iNAlum'

In [73]:
# Capitalize

s.capitalize()

'Hacktivate inalum'

In [74]:
# Title

s.title()

'Hacktivate Inalum'

In [76]:
# lower 
print(s.lower())

# UPPERCASE
print(s.upper())

hacktivate inalum
HACKTIVATE INALUM

In [77]:
# Swapcase
s.swapcase()

'hACktiVATE InaLUM'

## List

ditandai dengan adanya [ ]

In [78]:
a = ['foo', 'bar', 'baz', 'qux']

In [79]:
a

['foo', 'bar', 'baz', 'qux']

In [80]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.12653]

In [81]:
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.12653]

In [82]:
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [83]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [84]:
b[0]

'foo'

In [85]:
b[3]

'qux'

In [86]:
b[5]

'corge'

In [87]:
b[-6]

'foo'

In [88]:
b[-2]

'quux'

In [95]:
# Slicing
print(b)
print(b[2:5])
print('start:stop')
b[2:5]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['baz', 'qux', 'quux']
start:stop

['baz', 'qux', 'quux']

In [91]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [92]:
b[2:]

['baz', 'qux', 'quux', 'corge']

In [96]:
b + ['value1', 'value2']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'value1', 'value2']

In [97]:
b * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [99]:
print(b)

len(b) #length = untuk menghitung berapa value dari variable

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

6

In [100]:
min(b) # yang paling kecil, dari berurutan abjad

'bar'

In [101]:
max(b) #yang paling besar, yang paling akhir abjad

'qux'

In [103]:
c = [1,2,3,4,5]
print(min(c))
print(max(c))

1
5

## Modifying single list value

In [104]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [105]:
b[2] = 10

In [106]:
b

['foo', 'bar', 10, 'qux', 'quux', 'corge']

In [107]:
b[-1] = 20

In [108]:
b

['foo', 'bar', 10, 'qux', 'quux', 20]

In [109]:
del b[3]

In [110]:
b

['foo', 'bar', 10, 'quux', 20]

### Modifying multiple list value

In [211]:
b

'#i am not a comment'

In [112]:
b[1:4]

['bar', 10, 'quux']

In [122]:
b[1:4] = [1.1,2.2,3.3]

In [123]:
b

['foo', 1.1, 2.2, 3.3, 20, 20]

### Tuples

In [130]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [126]:
t[0]

'foo'

In [127]:
t[-1]

'corge'

In [131]:
t[0] = 'newValue'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [135]:
identitas = {
    'Fnama': 'Raka', #dipisahkan dengan koma
    'Lname': 'Ardhi', 
    'Age' : 26
}

In [134]:
identitas

{'nama': 'Raka', 'Lname': 'Ardhi', 'Age': 26}

In [136]:
identitas['Age']

26

In [138]:
identitas['Fnama']

'Raka'

In [139]:
identitas['Alamat']

KeyError: 'Alamat'

In [140]:
identitas['Pekerjaan'] = 'Guru'

In [141]:
identitas

{'Fnama': 'Raka', 'Lname': 'Ardhi', 'Age': 26, 'Pekerjaan': 'Guru'}

In [143]:
identitas['Pekerjaan']

'Guru'

In [144]:
identitas['Pekerjaan'] = 'Data Scientist'

In [145]:
identitas

{'Fnama': 'Raka', 'Lname': 'Ardhi', 'Age': 26, 'Pekerjaan': 'Data Scientist'}

In [146]:
del identitas['Pekerjaan']

In [147]:
identitas

{'Fnama': 'Raka', 'Lname': 'Ardhi', 'Age': 26}

In [148]:
person = {}

In [149]:
type(person)

dict

In [152]:
person['fname'] = 'Nama depan'
person['lname'] = 'Nama belakang'
person['age'] = 51
person['children'] = ['Anak 1', 'Anak 2', 'Anak 3']

In [153]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 51,
 'children': ['Anak 1', 'Anak 2', 'Anak 3']}

In [154]:
person['pets'] = {'dog' : 'dogName', 'cat' : 'catName'}

In [155]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 51,
 'children': ['Anak 1', 'Anak 2', 'Anak 3'],
 'pets': {'dog': 'dogName', 'cat': 'catName'}}

In [156]:
person['age']

51

In [158]:
person['children']

['Anak 1', 'Anak 2', 'Anak 3']

In [159]:
person['children'][1]

'Anak 2'

In [160]:
person['pets']

{'dog': 'dogName', 'cat': 'catName'}

In [161]:
person['pets']['cat']

'catName'

In [163]:
d = [1, 2, 3, [4, 5, 6], 7]

In [164]:
d[3]

[4, 5, 6]

In [166]:
d[3][0]

4

In [169]:
d = {'a': 10, 'b': 20, 'c': 30}

In [170]:
d

{'a': 10, 'b': 20, 'c': 30}

In [172]:
#keys
d.keys()

dict_keys(['a', 'b', 'c'])

In [173]:
#values

In [175]:
d.values()

dict_values([10, 20, 30])

In [179]:
# Phyton Statements

print('Hello World!')

x = [1, 2, 3]

Hello World!

In [184]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

psomeone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) 
someone_is_of_working_age

True

In [187]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or
    (person2_age >= 18 and person2_age <= 65) or
    (person1_age >= 18 and person1_age <= 65)
)

someone_is_of_working_age

True

In [192]:
a = [[1,2,3], [4,5,6], [7,8,9], [1,2,3], [4,5,6], [7,8,9], [1,2,3], [4,5,6], [7,8,9]]

In [193]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [196]:
a = [
    [1,2,3], 
     [4,5,6], 
     [7,8,9], 
     [1,2,3], 
     [4,5,6], 
     [7,8,9], 
     [1,2,3], 
     [4,5,6], 
     [7,8,9]
]

In [197]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [198]:
s = 
'Hello World!'

SyntaxError: invalid syntax (<ipython-input-198-2c0d1c36730a>, line 1)

In [199]:
s =\
'Hello World!'

In [200]:
s

'Hello World!'

In [202]:
#Multiple Statements per Line

x = 1; y = 2; z = 3

print(x); print(y); print(z)

1
2
3

In [204]:
#Comments

a = ['foo', 'bar'] # i am a comment

In [205]:
a

['foo', 'bar']

In [206]:
b = '#i am not a comment'

In [207]:
b

'#i am not a comment'

In [210]:
"""


"""


phi = 3.14
r = 12

area = phi*(r**2)
print('The area of circle is', area)

The area of circle is 452.16

## Conditional

In [214]:
# If statement

# if <expr>:
   # <statement>
    
x = 0
y = 5

if x < y:
    print('yes')
    
if y < x:
    print('no')
    
if 'aul' in 'grault':
    print('yes')

yes
yes

In [218]:
if <exprs>:
    <sttm>
    <sttm>
    <sttm>
    
<statement>

SyntaxError: invalid syntax (<ipython-input-218-20c5df3c3e89>, line 1)

In [220]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement')
    print('....')
    print('Done')
    
print('after conditional')

after conditional

In [221]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement')
    print('....')
    print('Done')
    
print('after conditional')

Expression was true
Executing statement
....
Done
after conditional

In [222]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition')
        
    print('Between inner condition')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
    
print('After condition')

Outer condition is true
Between inner condition
Inner condition 2
End of outer condition
After condition

In [224]:
# else dan elif

if<expr>:
    <statement>
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-224-3c68bbedf442>, line 3)

In [226]:
x = 20

if x < 50:
    print('x is small')
else:
    print('x is large')

x is small

In [227]:
x = 20

if x > 50:
    print('x is small')
else:
    print('x is large')

x is large

In [229]:
if<expr>:
    <statement>
elif<expr>:
    <statement>
elif<expr>:
    <statement>
    
...
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-229-a390710392cb>, line 1)

In [233]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
else:
    print('I dont know')

Hello Hacktiv8

In [234]:
if 'a' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

right

In [235]:
# One line if statements

if<expr>:
    <statement>
    
if<expr>:
    <statement>
    
if<expr>: <statement1>; <statement2>; <statement3>; <statementn>

SyntaxError: invalid syntax (<ipython-input-235-015da4834ba8>, line 3)

In [236]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [237]:
x = 2

if x == 1: 
    print('foo'); 
    print('bar')
elif x == 2: 
    print('qux');
    print('quux')
else:
    print('corge');
    print('grault')

qux
quux

In [238]:
## Ternary Operator (Conditional Expression)

<exprl> if <condit_expr> else <expr2>

SyntaxError: invalid syntax (<ipython-input-238-28964adf5009>, line 3)

In [239]:
age = 12

'teen' if age < 21 else 'adult'

'teen'

In [ ]:
if a < b:
    m = a 
else:
    m = b
    
m = a if a > b else b

In [242]:
## Pass statement

if True:
    pass

print('foo')

foo

In [ ]:
## while

while <expr>:
    <statement>

In [243]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [244]:
# break dan continue

In [246]:
n = 5

while n > 0:
    n-= 1
    if n == 2:
        break
    print(n)
        
print('Loop ended')

4
3
Loop ended

In [247]:
n = 5

while n > 0:
    n-= 1
    if n == 2:
        continue
    print(n)
        
print('Loop ended')

4
3
1
0
Loop ended

In [ ]:
# else clause 

while<expr>:
    <statement>
else:
    <additional_statement>

In [248]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print (n)
else:
    print('Loop Ended')

4
3

In [249]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        continue
    print (n)
else:
    print('Loop Ended')

4
3
1
0
Loop Ended

In [251]:
# One-line while loops

n = 5 

while n > 0: n -= 1; print (n)

4
3
2
1
0

In [ ]:
# For loops

for <var> in <iterable>:
    <statement>

In [252]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [253]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d:
    print(k)

foo
bar
baz

In [255]:
for k in d:
    print(d[k])

1
2
3

In [256]:
d['foo']

1

In [259]:
for v in d.values():
    print(v)

1
2
3

In [261]:
# range function

x = range(10)

In [262]:
x

range(0, 10)

In [263]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#break condition

In [264]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [265]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        continue
    print(i)

foo
bar
qux

In [267]:
#else clause 

for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

In [271]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)
else:
    print('Done')

foo
bar

In [4]:
temp = input("Ketikan temperature yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_conversion = temp[-1]

if i_conversion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_conversion == "F":
    result = int(round((degree - 32) * 5 / 9))
else: 
    print("Masukkan input yang benar")
print("Temperaturenya adalah ", result)

Ketikan temperature yang ingin dikonversi, eg. 45F, 28C: 25C
Temperaturenya adalah  77

In [1]:
while True:
    msg = input ("Ketikan karakter: ").lower()
    print(msg)
    if msg == 'stop':
        break

Ketikan karakter: a
a
Ketikan karakter: A
a
Ketikan karakter: BABA
baba
Ketikan karakter: STOP
stop