In [3]:
def my_function():
    "This prints a string"
    print("Hello from a function")

In [4]:
my_function()

Hello from a function

In [8]:
def printme(nama): #parameter
    "This prints a name string into this function"
    print(nama)

In [11]:
printme("Diska") #argument
#argument akan masuk ke dalam parameter sebagai variable

Diska

In [10]:
printme("nama dia adalah...")

nama dia adalah...

In [22]:
def printme(nama,alamat):
    "This prints a name string into this function"
    print(nama)
    print(alamat)

In [23]:
printme("Diska","Cempaka Baru")

Diska
Cempaka Baru

In [24]:
printme(alamat="Cempaka Baru",nama="Diska")

Diska
Cempaka Baru

In [26]:
def printinfo(name, age):
    "This prints a passed info into this function"
    print("Nama: ", name)
    print("Usia: ", age)
    return;

In [28]:
printinfo(age=22, name="Diska")

Nama:  Diska
Usia:  22

In [29]:
def printinfo( name, age = 20 ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Age: ", age)
   return;

In [30]:
printinfo(age=22, name="Baba")
printinfo(name="Tung")

Name:  Baba
Age:  22
Name:  Tung
Age:  20

In [32]:
def printinfo( name, alamat="Bekasi" ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Alamat: ", alamat)
   return;

In [33]:
printinfo(alamat="Jakarta", name="Lala")
printinfo(name="Tutu")

Name:  Lala
Alamat:  Jakarta
Name:  Tutu
Alamat:  Bekasi

In [36]:
def printinfo( name1, *vartuple ):
   "This prints a variable passed arguments"
   print("Namanya adalah: ")
   print(name1)
   for var in vartuple:
      print(var)
   return;

In [38]:
printinfo("Diska")

Namanya adalah:
Diska

In [39]:
printinfo("Diska", "Lala", "Tungtung", "Baba")

Namanya adalah:
Diska
Lala
Tungtung
Baba

In [40]:
def printinfo( name1, *name2 ):
   "This prints a variable passed arguments"
   print("Namanya adalah: ")
   print(name1)
   for var in name2:
      print(var)
   return;

In [41]:
printinfo("Twinkie-winkie", "Dipsy", "Lala", "Po")

Namanya adalah:
Twinkie-winkie
Dipsy
Lala
Po

In [43]:
sum = lambda num1, num2, num3: num1+num2+num3;

print("Total nilai: ", sum( 100, 99, 1 ))
print("Total nilai: ", sum( 1, 45, 40 ))

Total nilai:  200
Total nilai:  86

In [45]:
sum = lana num1, num2, num3: num1+num2+num3;

print("Total nilai: ", sum( 100, 99, 1 ))
print("Total nilai: ", sum( 1, 45, 40 ))

SyntaxError: invalid syntax (<ipython-input-45-fb55fcae23c6>, line 1)

In [46]:
def sum(num1, num2, num3):
    total = num1+num2+num3
    return total

In [48]:
sum(10,12,23)

45

In [53]:
def sum(num1, num2, num3):
    total = num1+num2+num3
    total1 = total + 23
    return total1

In [54]:
sum(1,2,2)

28

In [55]:
def sum(num1, num2, num3):
    total = num1+num2+num3
    total1 = total + 23
    return total

In [56]:
sum(1,2,2)

5

In [57]:
def sum(num1, num2, num3):
    total = num1+num2+num3
    total1 = total + 23
    total2 = total1 - 1
    return total2

In [58]:
sum(1,2,2)

27

In [62]:
ayam = 24
def jumlahbinatang():
    burung = 21
    binatang = ayam + burung
    return binatang
def tambahbinatang():
    sapi = 32
    tambahan = burung + sapi
    return tambahan

In [63]:
jumlahbinatang()

45

In [64]:
tambahan() #burung adalah local variable
#burung adalah global variable

NameError: name 'tambahan' is not defined

In [65]:
ayam = 24
def jumlahbinatang():
    burung = 21
    binatang = ayam + burung
    return binatang
def tambahbinatang():
    sapi = 32
    burung = 21
    tambahan = burung + sapi + ayam
    return tambahan

In [67]:
jumlahbinatang()

45

In [68]:
tambahbinatang()

77

In [69]:
import sys #mengimpor package untuk mengakses directory di pc kita

In [71]:
sys.path #directory default

['C:\\Users\\ASUS VivoBook S14',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\python37.zip',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\DLLs',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3',
 '',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\ASUS VivoBook S14\\.ipython']

In [74]:
sys.path.append(r'/Users/ASUS VivoBook S14/Desktop/H8Package/')

In [75]:
sys.path

['C:\\Users\\ASUS VivoBook S14',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\python37.zip',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\DLLs',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3',
 '',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\ASUS VivoBook S14\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\ASUS VivoBook S14\\.ipython',
 '/Users/ASUS VivoBook S14/Desktop/H8Package/',
 '/Users/ASUS VivoBook S14/Desktop/H8Package/']

In [76]:
import mod

Hacktiv Inalum for Data Science

In [77]:
import.s

SyntaxError: invalid syntax (<ipython-input-77-2ee53999bded>, line 1)

In [78]:
mod.s

'Hacktiv Inalum for Data Science'

In [79]:
mod.a

[100, 200, 300]

In [80]:
mod.foo

In [81]:
mod.foo('Baba')

Baba

In [82]:
from mod import s, foo

In [83]:
s

'Hacktiv Inalum for Data Science'

In [84]:
foo

In [85]:
foo('Baba')

Baba

In [86]:
from mod import *

In [87]:
s

'Hacktiv Inalum for Data Science'

In [89]:
from mod import s as string

In [90]:
string

'Hacktiv Inalum for Data Science'

In [91]:
import mod as modulku

In [92]:
modulku.a

[100, 200, 300]

In [93]:
modulku.s

'Hacktiv Inalum for Data Science'

In [94]:
import numpy as np #punya alias yang standard

In [97]:
import H8Package.mod

H8Package.mod.s

ModuleNotFoundError: No module named 'H8Package'

In [98]:
sys.path.append(r'/Users/ASUS VivoBook S14/Desktop/')

In [99]:
import H8Package.mod

Hacktiv Inalum for Data Science

In [100]:
from H8Package.mod import s

In [101]:
s

'Hacktiv Inalum for Data Science'

In [102]:
!pip--version

'pip--version' is not recognized as an internal or external command,
operable program or batch file.

In [103]:
!pip --version

pip 20.0.2 from C:\Users\ASUS VivoBook S14\anaconda3\lib\site-packages\pip (python 3.7)

In [105]:
!pip install requests

Requirement already satisfied: requests in c:\users\asus vivobook s14\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\asus vivobook s14\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\asus vivobook s14\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\asus vivobook s14\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus vivobook s14\anaconda3\lib\site-packages (from requests) (2019.11.28)

In [106]:
import requests

## Numpy

In [107]:
import numpy as np

## Creating Array

In [109]:
a = np.array([0, 1, 2])

In [110]:
a

array([0, 1, 2])

In [112]:
b = np.array([0, 1, 2])

In [113]:
b

array([0, 1, 2])

In [117]:
c = np.zeros(6) #buat 0 sebanyak 5x

In [118]:
print(c)

[0. 0. 0. 0. 0. 0.]

In [120]:
d = np.ones(8)

In [121]:
print(d)

[1. 1. 1. 1. 1. 1. 1. 1.]

In [123]:
np.arange(9)

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [124]:
np.arange(22,31)

array([22, 23, 24, 25, 26, 27, 28, 29, 30])

In [125]:
np.arange(1,19,3)

array([ 1,  4,  7, 10, 13, 16])

In [126]:
arr = np.array ([1,2,3,4,5,6,7,8])

In [127]:
print(arr)

[1 2 3 4 5 6 7 8]

In [128]:
np.append(arr, [9, 3]) #untuk menambahkan argumen

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 3])

In [129]:
print(arr)

[1 2 3 4 5 6 7 8]

In [132]:
np.delete(arr,[4,2]) #menghapus angke ke-sekian

array([1, 2, 4, 6, 7, 8])

In [134]:
arr = np.array([1,2,3,4,0,8,9])

In [135]:
np.sort(arr) #mengurutkan

array([0, 1, 2, 3, 4, 8, 9])

## Shape and Size

In [143]:
array_example = np.array ([[2,3,4,5,], [6,7,8,9], [2,3,4,5,], [6,7,8,9]])

In [144]:
print(array_example)

[[2 3 4 5]
 [6 7 8 9]
 [2 3 4 5]
 [6 7 8 9]]

In [145]:
array_example.size

16

In [146]:
array_example.ndim

2

In [147]:
array_example.shape #(row, column)

(4, 4)

In [156]:
array_example = np.array ([[[2,3,4,5,], 
                            [6,7,8,9], 
                           [2,3,4,5,], 
                            [6,7,8,9], 
                           [2,3,4,5,],
                            [6,7,8,9]]])

In [160]:
print(array_example)

[[[2 3 4 5]
  [6 7 8 9]
  [2 3 4 5]
  [6 7 8 9]
  [2 3 4 5]
  [6 7 8 9]]]

In [149]:
array_example.size

24

In [157]:
array_example.ndim

3

In [159]:
array_example.shape #(banyak jenis, banyak grup, banyak angka dalam satu grup)

(1, 6, 4)

## Reshape

In [161]:
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [164]:
b = a.reshape(2,3)

In [165]:
print(b)

[[0 1 2]
 [3 4 5]]

## Convert 1D to 2D

In [166]:
a

array([0, 1, 2, 3, 4, 5])

In [167]:
a.shape #cuma 1 dimensi karena hanya satu kurung siku, kalau 2 kurung siku jadi dua dimensi

(6,)

In [169]:
a2 = a[np.newaxis]

In [170]:
print(a2)

[[0 1 2 3 4 5]]

In [171]:
print(a2.shape)

(1, 6)

In [174]:
row_vector = a[np.newaxis,:]
print(row_vector)
print(row_vector.shape)

[[0 1 2 3 4 5]]
(1, 6)

In [177]:
col_vector = a[:, np.newaxis]
print(col_vector)
print(col_vector.shape)

[[0]
 [1]
 [2]
 [3]
 [4]
 [5]]
(6, 1)

In [178]:
print(a.shape)

(6,)

In [180]:
np.expand_dims(a,axis=1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

In [182]:
e = np.expand_dims(a, axis = 1)
print(e)
print(e.shape)

[[0]
 [1]
 [2]
 [3]
 [4]
 [5]]
(6, 1)

In [183]:
e = np.expand_dims(a, axis = 0)
print(e)
print(e.shape)

[[0 1 2 3 4 5]]
(1, 6)

In [186]:
data = np.array([4,5,6])

In [187]:
data[0]

4

In [188]:
data[2]

6

In [189]:
data[-2]

5

In [190]:
data[-1]

6

In [191]:
data[-3]

4

In [192]:
a = np.array([[1,3,4,2], [3,6,7,8], [9,7,6,7]])

In [193]:
print(a)

[[1 3 4 2]
 [3 6 7 8]
 [9 7 6 7]]

In [195]:
a[a<4]

array([1, 3, 2, 3])

In [196]:
a[a>3]

array([4, 6, 7, 8, 9, 7, 6, 7])

In [197]:
lebih_tiga = (a>=3)

a[lebih_tiga]

array([3, 4, 3, 6, 7, 8, 9, 7, 6, 7])

In [198]:
a[(a>4)&(a<10)]

array([6, 7, 8, 9, 7, 6, 7])

## Create array from existing data

In [199]:
arr = np.array([3,5,4,2,1,6,4,9])

In [200]:
arrl = arr[3:8]

In [201]:
print(arrl)

[2 1 6 4 9]

In [203]:
a_1 = np.array([[1,1],
              [2,2]])
print(a_1)

[[1 1]
 [2 2]]

In [204]:
a_2 = np.array([[5,1],
              [2,8]])
print(a_2)

[[5 1]
 [2 8]]

In [205]:
np.vstack((a_1,a_2)) #vertical stack

array([[1, 1],
       [2, 2],
       [5, 1],
       [2, 8]])

In [206]:
np.hstack((a_1,a_2)) #horizontal stack

array([[1, 1, 5, 1],
       [2, 2, 2, 8]])

In [207]:
print(arr)

[3 5 4 2 1 6 4 9]

In [209]:
np.hsplit(arr,4)

[array([3, 5]), array([4, 2]), array([1, 6]), array([4, 9])]

## View and copy

In [210]:
a = np.array([[1,2,3,4],[6,7,8,9],[90,89,65,66]])

In [213]:
b = a.view()

In [214]:
print(b)

[[ 1  2  3  4]
 [ 6  7  8  9]
 [90 89 65 66]]

In [215]:
c = a.copy()

In [216]:
print(c)

[[ 1  2  3  4]
 [ 6  7  8  9]
 [90 89 65 66]]

## Basic array operations

In [217]:
a_1

array([[1, 1],
       [2, 2]])

In [218]:
a_2

array([[5, 1],
       [2, 8]])

In [219]:
a_1+a_2

array([[ 6,  2],
       [ 4, 10]])

In [220]:
a_2*a_1

array([[ 5,  1],
       [ 4, 16]])

In [221]:
arr = np.array([0,1,2,3,4,5,6,7,8,9,10])

In [222]:
arr.sum()

55

In [223]:
a_1

array([[1, 1],
       [2, 2]])

In [225]:
a_1.sum()

6

In [226]:
a_1.sum(axis=0) #yang menurun

array([3, 3])

In [228]:
a_1.sum(axis=1) #yang ke samping

array([2, 4])

In [229]:
a_1*8.5

array([[ 8.5,  8.5],
       [17. , 17. ]])

In [230]:
a

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [90, 89, 65, 66]])

In [231]:
a.sum()

350

In [233]:
a.max()

90

In [234]:
a.min()

1

In [235]:
a.min(axis=0)

array([1, 2, 3, 4])

In [236]:
a.max(axis=1)

array([ 4,  9, 90])

In [237]:
np.ones(9)

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [241]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [243]:
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [246]:
np.random.random((3,2))

array([[0.30243251, 0.37710251],
       [0.52197465, 0.26794991],
       [0.37993436, 0.41809131]])

## Matrix Arithmatic

In [247]:
data = np.array ([[1,2], [3,4]])

In [248]:
print(data)

[[1 2]
 [3 4]]

In [249]:
ones=np.ones([2,2])

In [250]:
print(ones)

[[1. 1.]
 [1. 1.]]

In [251]:
print(data+ones)

[[2. 3.]
 [4. 5.]]

In [254]:
ones_row = np.ones([1,2])
print(ones_row)

[[1. 1.]]

In [255]:
data + ones_row

array([[2., 3.],
       [4., 5.]])

In [258]:
a_1 = np.array([[2,3,5], [6,7,8]])
print(a_1)

a_2 = np.array([[2,2], [4,5], [6,7]])
print(a_2)

[[2 3 5]
 [6 7 8]]
[[2 2]
 [4 5]
 [6 7]]

In [259]:
print(a_1.shape)
print(a_2.shape)

(2, 3)
(3, 2)

In [261]:
np.dot(a_1,a_2)

array([[ 46,  54],
       [ 88, 103]])

In [262]:
data = np.array([[1, 2], [3, 4], [5, 6]])

print(data)
print(data[0,1]) #(row, col)
print(data[1:3]) #mulai dari row 1 sampai 3
print(data[0:2,0])

[[1 2]
 [3 4]
 [5 6]]
2
[[3 4]
 [5 6]]
[1 3]

In [263]:
print(data[0:2,1])

[2 4]

In [264]:
data = np.array([[2,3], [5,8], [6,9]])

print(data)

[[2 3]
 [5 8]
 [6 9]]

In [265]:
print(data.max())

9

In [266]:
print(data.min())

2

In [267]:
print(data.sum())

33

In [268]:
a_1 = np.array([[2,3,5], [6,7,8], [2,3,4]])
print(a_1)

a_2 = np.array([[2,2,3], [4,5,1], [6,7,2]])
print(a_2)

[[2 3 5]
 [6 7 8]
 [2 3 4]]
[[2 2 3]
 [4 5 1]
 [6 7 2]]

In [269]:
np.dot(a_1,a_2)

array([[ 46,  54,  19],
       [ 88, 103,  41],
       [ 40,  47,  17]])

In [270]:
data = np.array([[2,3], [5,8], [6,9]])

print(data)

[[2 3]
 [5 8]
 [6 9]]

In [271]:
print(data.T)

[[2 5 6]
 [3 8 9]]

In [277]:
data_col = np.array([[1,3,5,7,6,2]]).T

In [278]:
print(data_col)

[[1]
 [3]
 [5]
 [7]
 [6]
 [2]]

In [280]:
data_col.reshape(2,3)

array([[1, 3, 5],
       [7, 6, 2]])

In [284]:
arr = np.arange(6).reshape((3,2))

In [285]:
print(arr)

[[0 1]
 [2 3]
 [4 5]]

In [286]:
arr = np.arange(6).reshape((2,3))

In [288]:
print(arr)

[[0 1 2]
 [3 4 5]]

## N-Dimentional Array

In [289]:
ndarr = np.array([[[1, 2], [3, 4]],
                  [[5, 6], [7, 8]]])

print(ndarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [290]:
np.ones((4,3,2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

In [291]:
np.zeros((4,3,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [292]:
print(np.random.random((4,3,2)))

[[[0.30577639 0.32714679]
  [0.53591397 0.3763825 ]
  [0.9477121  0.593236  ]]

 [[0.34163591 0.22203359]
  [0.8147833  0.29427623]
  [0.77439329 0.00766102]]

 [[0.76016087 0.44083015]
  [0.76977087 0.53973006]
  [0.21117718 0.24311548]]

 [[0.67640277 0.01782201]
  [0.7970693  0.99578509]
  [0.5923277  0.11259525]]]

## Flatten N-Dimentional Array

In [295]:
ndarr

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [294]:
ndarr.flatten()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [296]:
a = np.random.rand(5)

In [297]:
print(a)

[0.90489245 0.71551409 0.4564928  0.18438098 0.02202958]

In [298]:
a.shape

(5,)

In [299]:
print(a.T)

[0.90489245 0.71551409 0.4564928  0.18438098 0.02202958]

In [300]:
print(np.dot(a, a.T))

1.5736580899920396

In [301]:
a = np.random.rand(5,1)

In [302]:
print(a)

[[0.2170401 ]
 [0.00531109]
 [0.32876976]
 [0.34239456]
 [0.49928183]]

In [303]:
a.shape

(5, 1)

In [304]:
print(a.T)

[[0.2170401  0.00531109 0.32876976 0.34239456 0.49928183]]

In [305]:
print(np.dot(a, a.T))

[[4.71064053e-02 1.15271890e-03 7.13562213e-02 7.43133493e-02
  1.08364178e-01]
 [1.15271890e-03 2.82076471e-05 1.74612485e-03 1.81848735e-03
  2.65172931e-03]
 [7.13562213e-02 1.74612485e-03 1.08089553e-01 1.12568976e-01
  1.64148765e-01]
 [7.43133493e-02 1.81848735e-03 1.12568976e-01 1.17234033e-01
  1.70951380e-01]
 [1.08364178e-01 2.65172931e-03 1.64148765e-01 1.70951380e-01
  2.49282343e-01]]

In [306]:
a = np.random.rand(1,5)

In [307]:
print(a)

[[0.19865036 0.77759818 0.36129599 0.47029022 0.17304373]]

In [309]:
a.shape

(1, 5)

In [310]:
print(a.T)

[[0.19865036]
 [0.77759818]
 [0.36129599]
 [0.47029022]
 [0.17304373]]

In [311]:
print(np.dot(a, a.T))

[[1.02577272]]